.navigation-container {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

.content-home {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    max-width: 1200px;
}

.home-text h1,
h3 {
    display: flex;
    justify-content: center;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.home-text h3 {
    margin: 30px 0 0 0;
    font-size: 20px;
}

.content-card {
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card-functions {
    background-color: #ADD8E6;
    border-radius: 10px;
    height: 300px;
}

.btn-home {
    background-color: #8800CC;
    color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    bottom: 5px;
    position: absolute;
    left: 30%;
    right: 30%;
    margin-bottom: 25px;
}

.btn-home:hover {
    background: #9807e1 !important;
    color: white;
}

.btn-home:focus,
.btn-home:active {
    color: white;
    background: #7a00b8;
    outline: none
}


.card-functions i {
    font-size: 50px;
    color: #011C37;
    margin: 10px 0 20px 0;
    position: relative;
}

.home-news {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.home-news h2 {
    font-size: 25px;
    font-weight: bold;
}

.nomeCategoria a:hover {
    text-decoration: underline #1572e8 !important;
}

.card-new {
    background: transparent !important;
    box-shadow: 0px 0px 0px 0px;
    border: 0;
}

.card-new img {
    border-radius: 5px 5px 5px 5px;
}

.card-new .row {
    flex-grow: 1;
}

.card-new .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
}

a.link-noticia {
    font-size: 20px !important;
}

.link-noticia:hover {
    color: #333;
    text-decoration: underline !important;
}

.carousel-caption a,
p {
    font-size: 15px;
}

.title-new a:hover {
    color: #1269db;
    text-decoration: underline !important;
}

.card-action {
    margin-top: 20px;
}

.logo-login img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.custom-dropdown-link {
    font-size: 1rem;
}

.logo img {
    height: revert-layer;
}

.container-all {
    padding: 100px 60px 100px 60px;
    display: flex;
    justify-content: center;
}

.container-abas {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
}

.form-button-action {
    gap: 10px
}

.add-pesquisa {
    gap: 20px;
    margin-right: 20px;
}

.botao-pesquisar {
    padding: 5px;
    font-size: 18px;
}

/* Inicialmente, o campo de pesquisa está escondido */
.search-input {
    display: none;
    width: 0;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: width 0.3s ease, padding 0.3s ease;
}

/* Quando a barra se transforma em barra de pesquisa */
.search-icon {
    margin: 0px 20px 0 20px;
}

.close-search {
    margin-right: 25px;
}

.navbar.search-mode .close-search {
    display: inline-block;
}

form.search-form {
    width: 100%;
}

.search-container {
    display: flex;
    align-items: center;
}

/* Estilo para o ícone de pesquisa */
.search-container i {
    margin-left: 25px;
    margin-right: 10px;
}

#confirmForm {
    width: 100%;
    margin-top: 10px;
}

.body-confirmar {
    padding: 0 !important;
}

.texto-confirmar {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.texto-confirmar p {
    padding: 10px
}

/* Cor dos ícones dos itens ativos */
.sidebar .nav.nav-secondary>.nav-item.active a i,
.sidebar[data-background-color=white] .nav.nav-secondary>.nav-item.active a i {
    color: #0d6efd !important;
}

/* Tamanho personalizado do slider das noticias*/
#carouselExampleCaptions .carousel-inner img {
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

.titulo-categoria h2 {
    text-align: start;
    width: 100%;
}

h2 {
    font-size: 1.5em !important;
}

[type=text],
input:where(:not([type])),
[type=email],
[type=url],
[type=password],
[type=number],
[type=date],
[type=datetime-local],
[type=month],
[type=search],
[type=tel],
[type=time],
[type=week],
[multiple],
textarea,
select {
    border-radius: 5px !important;
}

.card-header {
    background-color: transparent !important;
    border-bottom: 0;
}

.buttons-table {
    display: flex;
    gap: 10px;
}

.p-6 {
    margin-top: 50px;
}

.max-w-xl {
    max-width: 100rem !important;
}

/* Estilazação do avatar de usuario */
.user-icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #011C37;
    font-size: 15px;
}

.avatar-sm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-circle i {
    margin: 0;
}

#imagem-preview-edit {
    max-width: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
}

#imagem-preview-container-edit {
    margin: 20px;
}

.content-link {
    display: none;
}

.show {
    display: flex;
}

.tab-buttons {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 10px 25px 10px 25px;
    gap: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 14px;
    position: relative;
}

.tab-buttons .active {
    color: #0d6efd;
    border-bottom: 2px solid #0d6efd;
}

.tab-buttons button:hover {
    color: #1572e8;
}

.tab-btn {
    margin-left: 10px;
    padding: 6px 15px;
}

.add {
    display: flex;
    justify-content: center;
    gap: 10px;
    right: 10px;
    top: 15%;
    bottom: 15%;
    position: absolute;
}

.add-btn:hover {
    color: #fff !important;
}

.infos {
    width: 100%;
}

input.search-input {
    width: 100%;
}

.select-btn {
    position: relative;
    display: none;
    width: 200px;
    cursor: pointer;
}

/* Estilo da opção principal (botão visível) */
.select-option {
    background-color: #f9f9f9;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.select-option:hover {
    background-color: #e0e0e0;
}

/* Dropdown */
.dropdown-select {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1000;
}

/* Estilo dos botões dentro do dropdown */
.dropdown-select .option-btn,
.dropdown-select .option-add {
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    text-align: left;
    border: none;
    background: none;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dropdown-select .option-btn:hover,
.dropdown-select .option-add:hover {
    background-color: #f0f0f0;
}

/* Linha separadora */
.dropdown-select .line-button {
    height: 1px;
    background-color: #ccc;
    margin: 8px 0;
}

/* Mostrar o dropdown quando ativo */
.dropdown-select.active {
    display: block;
}

/* Estilo para botões de criar */
.option-add.btn-primary {
    background-color: #0D6EFD;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.option-add.btn-primary:hover {
    background-color: #0056b3;
}

.option-add.btn-dark {
    background-color: #343a40;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.option-add.btn-dark:hover {
    background-color: #23272b;
}

.btns-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.mt-5,
.my-5 {
    margin-top: 1rem !important;
}

.py-12 {
    padding-top: 1rem !important;
}

img#imagemPreview {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Codigo da pagina show */
.noticia-container {
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Public Sans', sans-serif !important;
}

.noticia-header {
    text-align: center;
    margin-bottom: 20px;
}

.noticia-titulo {
    font-size: 25px;
    color: #333;
    margin-bottom: 10px;
}

.noticia-subtitulo {
    font-size: 15px;
    color: #555;
}

.noticia-imagem {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 30px 0px 30px 0;
}

.noticia-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticia-conteudo {
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    margin-bottom: 15px;
    font-family: 'Arial', sans-serif;
}

.dadosNoticia p {
    font-size: 12px;
    color: #555;
}

.table {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0rem !important;
}

.forum-azul {
    background: #011C37;
    color: #fff;
}

.btn-visualizar {
    background: #8800CC;
    color: #fff;
}

.btn-visualizar:focus {
    background-color: #8800CC;
    color: white;
    outline: none;
}

.btn-visualizar:hover,
.btn-visualizar:after,
.btn-visualizar:active {
    color: #fff !important;
    background: #8800CC;
}

.forum-table {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px #011C37;
}

.forum-table thead {
    background-color: #011C37;
    color: #8800CC;
}

.forum-table tbody tr:nth-child(even) {
    background-color: #ADD8E6;
}

.forum-table tbody tr:hover {
    background-color: #8800CC;
    color: #011C37;
}

.forum-table a {
    color: #8800CC;
    font-weight: bold;
    text-decoration: none;
}

.text-roxo {
    color: #8800CC;
}

.forum-table a:hover {
    color: #011C37;
    text-decoration: underline;
}

ul.pagination.justify-content-center {
    margin-top: 30px;
}

label.form-label {
    color: #8d9498 !important;
}

.btn:not(:disabled):not(.disabled) {
    white-space: nowrap;
}

.btn-danger {
    background: #DC3545 !important;
}

.btn-info {
    background: #007bff !important;
    color: white !important;
}

.text-obs {
    font-size: 12px;
    margin: 0px 10px 10px;
    color: #969696;
}

.forum-container {
    max-width: 100%;
    margin: 0 auto;
}


.post-card {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 25px;
    transition: transform 0.2s ease-in-out;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-author {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #666;
}

.post-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.post-content {
    font-size: 15px;
    color: #444;
    line-height: 1.5;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #777;
}

.btn {
    padding: 8px 12px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s ease;
}

.user-post {
    background-color: #333;
    margin-right: 10px;
}

.user-post i {
    color: #fff;
}

.post-info.mb-4 {
    margin: 20px 15px;
}

.btn-resposta {
    margin-left: 10px;
}

.card-body.card-functions {
    padding: 1.25rem !important;
}

/* Container Principal do Fórum */
.forum-wrapper {
    margin: 0 auto;
    padding: 30px 20px;
    width: 1200px;
}

/* Postagem Principal */
.main-post-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 25px;
    margin-bottom: 30px;
}

.main-post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.username {
    font-weight: bold;
    color: #333;
}

.post-date {
    font-size: 0.9em;
    color: #aaa;
}

.main-post-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.main-post-content {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

/* Botão Responder */
.response-button-container {
    text-align: center;
    margin-top: 20px;
}

.btn-response {
    display: inline-block;
    padding: 8px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-response:hover {
    background-color: #4b9bf0;
    color: white;
    transform: translateY(-3px);
}

.btn-response i {
    margin-right: 8px;
}

.btn-coment {
    margin-top: 15px;
}

/* Respostas */
.responses-title {
    font-size: 20px;
    color: #222;
    margin-bottom: 25px;
    font-weight: bold;
}

.response-card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
}

.response-header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    position: relative;
}

.p-4.border-bottom.bg-white {
    border-radius: 10px 10px 0px 0px;
}

.p-4.bg-light {
    border-radius: 0px 0px 10px 10px;
}

.response-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.response-username {
    font-weight: bold;
    color: #333;
}

.response-date {
    font-size: 0.9em;
    color: #777;
}

.response-content {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-top: 12px;
    text-align: justify;
}

/* Comentários nas respostas */

.comment-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.comment-card {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-username {
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
}

.comment-date {
    font-size: 0.9em;
    color: #888;
}

.comment-content {
    font-size: 15px;
    color: #555;
    margin-top: 10px;
    text-align: justify
}

/* Formulário de Comentário */
.comment-form-container {
    margin-top: 25px;
    padding: 20px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.comment-form-container h5 {
    font-size: 12px;
    margin-bottom: 12px;
    font-weight: bold;
    color: #333;
}

.comment-form-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    resize: vertical;
    font-size: 16px;
}

.campo-comentario textarea {
    padding: 0 !important;
}

.post-options {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 10px;
}

.options-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px;
}

.options-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 120px;
    z-index: 1000;
}

.options-menu a,
.options-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.options-menu a:hover,
.options-menu button:hover {
    background: #f5f5f5;
}

.delete-button {
    color: red;
}

.visible {
    display: block;
}

.comment-button-container {
    margin-top: 15px;
    text-align: end;
}

.mention-menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    min-width: 200px;
    max-height: 200px;
    overflow-y: auto;
    padding: 8px 0;
    z-index: 1000;
    margin-left: 100px;
}

.mention-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mention-menu li {
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.mention-menu li:hover {
    background: #f2f2f2;
    color: #000;
}

.btn-group-comment {
    display: flex;
}

.btns-comment {
    display: flex;
    gap: 10px;
    width: 90%;
    justify-content: end;
}

.nav-toggle {
    color: white !important;
}

.toggled {
    color: white !important;
    color: white !important;
}

/* My profile */
.content-profile {
    width: 100%;
}

.media-body {
    margin-left: 10px;
}

.media-body h3 {
    font-size: 1.2rem;
    font-weight: bolder;
    color: #333;
    justify-content: start;
}

.media-body p {
    color: #999;
    font-size: 0.9rem;
}

/* Seção de seguidores e seguidos */
.card-profile {
    background-color: #f0f8ff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.card-profile h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.cardMy {
    padding: 0px 10px 0px 10px !important;
    text-wrap: nowrap;
}

.cardMyChild {
    padding: 10px 0px 10px 0px;
}


.text-muted-small {
    color: rgb(136, 152, 170) !important;
    font-size: 12px;
}

/* Botões */
.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 600;
}

.btn-danger {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
    color: #fff;
}

.btn-transparent {
    background-color: transparent;
    color: #666;
    border: none;
}

.btn-transparent:hover {
    color: #333;
}

/* Seção "Sobre mim" */
.card-profile__info {
    list-style: none;
    padding: 0;
    margin: 0px 0px 20px;
}

.card-profile__info li {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card-profile__info li strong {
    color: #333;
    margin-right: 10px;
}

.user-icon-circle-profile {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #011C37;
    font-size: 15px;
}

.fa-profile {
    color: white;
    font-size: 30px;
}

/* Mídia de respostas */
.media-reply {
    padding: 25px 25px 0px 25px;
    border-top: 1px solid #eaeaea;
}

.media-text p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #555;
    font-weight: 400;
    text-align: justify;
}

.media-reply__link button {
    color: #888;
    font-size: 1.2rem;
}

.media-reply__link button:hover {
    color: #555;
}

.user-post2 {
    margin-right: 0px !important;
}

/* Imagens de miniatura */
.media-reply ul {
    margin-top: 15px;
}

.media-reply ul li {
    display: inline-block;
    margin-right: 10px;
}

.media-reply ul li img {
    border-radius: 8px;
}

#abaProfile {
    width: 75% !important;
    display: block !important;
}

#container-profile {
    max-width: 1200px;
}

/* Focus no campo de formulario */
.form-control:focus {
    border-color: #0d6efd !important;
    outline: none !important;
    border-width: 2px !important;
}

/* Focus no campo de adicionar midia */
.custom-file-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Escondendo o input real */
#imagem {
    width: 100%;
    height: 100%;
}

/* Estilo para o label, que será o botão visível */
.custom-file-label {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 0.375rem;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ced4da;
}

/* Estilo quando o campo for focado */
#imagem:focus+.custom-file-label {
    border-color: #005fcc;
    border-width: 2px;
}

/* Efeito hover no label */
.custom-file-label:hover {
    background-color: #d6d8db;
}

/* Quando o input do tipo file estiver em foco, o label também receberá foco */
.custom-file-label:focus {
    border-color: #005fcc;
}

a.custom-focus:focus {
    outline: 2px solid #005fcc;
    outline-offset: 4px;
    border-radius: 2px;
}

.toggle-sidebar:focus-visible,
.sidenav-toggler:focus-visible {
    padding: 10px !important;
}

.btn-home:focus-visible,
.btn-home:active {
    background-color: #8800CC !important;
    color: white !important;
}

/* Focus botão de pesquisa */
.botao-pesquisar .search-icon:focus-visible {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
    border-radius: 5px;
}

/* Focus quando clicar no tab */
.nav-toggle:focus-visible .btn-home:focus-visible,
.select-option:focus-visible,
.nav-item a:focus-visible,
.card-title a:focus-visible,
td a:focus-visible,
.logo:focus-visible,
.option-btn:focus-visible,
.option-add:focus-visible,
button:focus-visible,
.btn:focus-visible,
.select-btn:focus-visible,
.option-btn:focus-visible,
.breadcrumb-item a:focus-visible,
.categoria:focus-visible,
.link-noticia:focus-visible {
    outline: 2px solid #005fcc !important;
    outline-offset: 2px !important;
    border-radius: 5px !important;
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    border-radius: 5px;
}


.highlighted {
    background-color: #005fcc;
    color: white;
    outline: 2px solid #005fcc;
}

.img-capa {
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    /* Gradiente escuro */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

.carousel-caption {
    z-index: 2;
    /* Garante que o texto apareça sobre a sobreposição */
}

.largura {
    width: 98%;
}

h1 {
    font-size: 2.5rem !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%228%22 height=%228%22%3E%3Cpath d=%22M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z%22 fill=%22%236c757d%22/%3E%3C/svg%3E');
    padding: 0 5px;
}

#carouselExampleCaptions {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    border-radius: 10px;
}

.none {
    display: none;
}

.edit-profile {
    width: 100%;
    max-width: 1200px;
}

.btn-blue {
    background: #011C37;
    color: white;
}

.btn-blue:hover,
.btn-blue::after {
    background: #053769;
    color: white;
}

.btn-blue::after {
    background: #011C37;
    color: white;
}

.noticia-img-wrapper {
    height: 400px; 
    max-height: 60vh; 
}

@media (max-width: 576px) {
    .noticia-img-wrapper {
        height: 200px;
    }
}

.object-fit-cover {
    object-fit: cover;
}


/* Respostas de mídia em tela pequena */
@media (max-width: 768px) {
    .card-body {
        padding: 15px;
    }

    .card-profile__info li {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 0.9rem;
    }

    .media-reply {
        padding: 15px;
    }

    .card-not-home {
        background: white;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    a.link-noticia {
        font-size: 15px !important;
    }

}

@media (max-width: 1200px) {
    #abaProfile {
        width: 100% !important;
    }

    .card-profile-all {
        width: 100%;
    }
}

@media screen and (min-width: 320px) and (max-width: 778px) {
    .container-all {
        padding: 100px 30px 100px 30px;
    }

    body {
        overflow-x: auto;
    }

    .home-text h1 {
        font-size: 25px;
    }

    .home-text h3 {
        font-size: 18px;
        text-align: justify;
    }

    .logo-login img {
        width: 100px;
    }

    .search-icon {
        margin: 0px 5px 0 5px;
    }

    .subtitulo-slide {
        display: none;
    }

    .card .card-title {
        margin-top: 15px;
    }

    .btn-home {
        left: 10%;
        right: 10%;
    }

    .btn:not(:disabled):not(.disabled) {
        white-space: unset;
    }

    .main-post-title {
        font-size: 20px;
    }

    .main-post-content {
        font-size: 14px;
    }

    .responses-title {
        font-size: 15px;
    }

    .response-content {
        font-size: 14px;
    }

    .comment-section h4 {
        font-size: 14px;
    }
}

@media screen and (max-width: 1490px) {
    .btn-dark {
        background: #343a40 !important;
    }

    i.dropdown-icon.fas.fa-chevron-down {
        position: absolute;
        top: 30%;
        right: 10px;
    }

    .hidden {
        display: none;
    }

    .select-btn {
        display: inline-block;
    }

    .tab-btn {
        display: none;
    }

    .line-button,
    .btns-select {
        display: none;
    }

    .tab-buttons .active {
        border-bottom: 0px;
    }

    .tab-buttons button:hover {
        color: white;
    }

    .add {
        top: 20%;
    }

    .btn {
        padding: 10px;
    }
}

@media screen and (max-width: 1040px) {

    .line-button,
    .btns-select {
        display: flex;
    }

    .add-btn {
        display: none;
    }
}

@media screen and (max-width: 390px) {
    .search-icon {
        margin: 0px 2px 0 2px;
    }

    .close-search {
        margin-right: 2px;
    }

    .select-option {
        width: 150px;
    }

    i.dropdown-icon.fas.fa-chevron-down {
        right: 60px;
    }

    .search-container i {
        margin-left: 0px;
    }
}